*{
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
    background-color: rgb(27, 27, 27);
}

html{
    scroll-behavior: smooth;
}

a{
    cursor: pointer;
}


/* Blitz */
.blitz{
    scale: 50%;
}

h1 {
user-select: none;
}

h2 {
font-weight: 400;
}


/* CSS HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #06001F;
    min-width: 700px;
}

.logoBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.logo{
    width: 140px;
    height: 60px;
    padding-left: 20px;
}

.userBlitz p{
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: rgb(255, 217, 0)
}

.userBlitz{
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.profileImg{
    width: 50px;
    height: 50px;
}

.user{
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.user button{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* CSS HEADER FIM */

/* CSS FOOTER */
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #06001F;
    width: 100%;
    height: 80px;
    min-width: 700px;
}

.fiapLogo{
    width: 150px;
    height: 50px;
    padding-top: 15px;
}
/* CSS FOOTER FIM */

/* SESSAO UNICA */
.secaoUnica{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 830px;
    background-image: url(../../images/blueAnimatedBkg.gif);
    
    
}

.conteudoSecaoUni{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 50px;
    
}

.conteudoSecaoUni h1{
    font-family: "Michroma", sans-serif;
    margin: 0;
}


/* CARROSSEL */
.containerCarrossel{
    width: 800px;
    overflow: hidden;
    position: relative;
    border-color: #06001F;
    border-style: solid;
    border-width: 6px;
    margin: auto;
    margin-bottom: 125px;
}

.slides{
    display: flex;
    transition: transform 0.5s ease;
}

.slide{
    min-width: 800px;
    height: 500px;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botoes-carrossel{
    position: absolute;
    width: 100%;
    height: 50px;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%)
}

.botoes-carrossel img{
    height: 100%;
    scale: 65%;
}

.botoes-carrossel button{
    display: flex;
    justify-content: center;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: -16px;
}

.nextPage{
    width: 100px;
    height: 100px;
}

.backPage{
    width: 100px;
    height: 100px;
}

