*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #101010;
    color: white;
}

html{
    scroll-behavior: smooth;
}

/* HEADER */
header{
    margin: 0 auto;
    max-width: 1115px;
    height: 80px;
    background-color: #101010;
}

.header-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-emmersive{
    width: 150px;
    height: 60px;
    margin-left: 120px;
}

.profile{
    position: inherit;
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    z-index: 1;
}

.header-deco{
    height: 80px;
    position: absolute;
    background-color: transparent;
    z-index: -1;
    margin-left: 15px;
}

.gradientBar{
    width: 100%;
    height: 16px;
    background: rgb(201,155,38);
    background: linear-gradient(90deg, rgba(201,155,38,1) 0%, rgba(255,31,31,1) 36%, rgba(255,47,153,1) 69%, rgba(216,216,216,1) 100%);
}

.init-section{
    margin-top: 35px;
    padding: 6px;
    font-family: "Numans", sans-serif;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid white;
}

/* MAIN */
main{
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* section one */
.section-one{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1115%;
}


.section-card{
    position: relative;
}

.text-saudacoes{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 0;
    gap: 70px;
    width: 100%;
}

.text-saudacoes h1{
    font-size: 54px;
}

.text-saudacoes p{
    font-family: 'Michroma';
    font-size: 24px;
}

.text-saudacoes .saudacoes-anchor{
    height: 50px;
    width: 180px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: #2210F4;
    border: none;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-saudacoes .saudacoes-anchor:hover{
    background-color: #ffffff;
    color: #2210F4;
    transition: 0.3s;
}

.interativa{
    animation: corMuda 1.5s ease-in-out infinite alternate;
}

@keyframes corMuda {
    0%{
        opacity: 1;  
    }
    25%{
        opacity: 1;
        color: #C99B26;
    }
    75%{
        opacity: 1;
        color: #FF1F1F;
    }
    100%{
        opacity: 1;
        color: #FF2F99;
    }
}


.welcome-img{
    width: 100%;
    z-index: -1;
}

.blue-frame-one-sec1{
    max-width: 800px;
    background: rgb(34,16,244);
    background: linear-gradient(225deg, rgba(34,16,244,1) 0%, rgba(16,16,16,1) 33%, rgba(16,16,16,1) 66%, rgba(34,16,244,1) 100%);
    padding: 4px; /* largura da borda */ /* largura da borda */
}

.blue-frame-inner-one-sec1{
    background-color: #101010; /* Fundo interno */
    padding: 15px; /* Conteúdo interno */
   
}

.blue-frame-two-sec1{
    max-width: 800px;
    background: rgb(34,16,244);
    background: linear-gradient(225deg, rgba(34,16,244,1) 0%, rgba(16,16,16,1) 33%, rgba(16,16,16,1) 66%, rgba(34,16,244,1) 100%);
    padding: 4px; 

}

.blue-frame-inner-two-sec1{
    background-color: #101010;
    padding: 15px; 
}   

/* section 2 */
.section-two{
    width: 100%;
    background-color: #2210f4;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
}

.section-two-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 0 auto;
    max-width: 1115px;

}

.video{
    min-width: 400px;
    width: 100%;
}

.introdução-card{
    max-width: 320px;
    max-height: 290px;
    margin-bottom: 35px;
}

.blue-frame-one-sec2{
    max-width: 450px;
    background: rgb(34,16,244);
    background: linear-gradient(330deg, rgb(255, 255, 255) 0%, #2210f4 50%);
    padding-right: 4px; /* largura da borda */
    padding-bottom: 4px; /* largura da borda */
}

.blue-frame-inner-one-sec2{
    background-color: #2210f4; /* Fundo interno */
    padding-right: 15px; /* Conteúdo interno */
    padding-bottom: 12px; /* Conteúdo interno */
}

.blue-frame-two-sec2{
    max-width: 600px;
    background: rgb(34,16,244);
    background: linear-gradient(330deg, rgb(255, 255, 255) 0%, #2210f4 50%);
    padding-right: 4px; 
    padding-bottom: 4px; 
}

.blue-frame-inner-two-sec2{
    background-color: #2210f4;
    padding-right: 12px; 
    padding-bottom: 12px;
}

/* section 3 */
.section-three{
    max-width: 1115px;
    width: 1115px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

.division-bars{
    width: 100%;
    font-size: 0px;
    
}

.section-three-div{
    width: 100%;
    height: 8px;
    margin: 8px 0;
    
}

.section-three-div.gold{
    background: rgb(16,16,16);
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgba(201,155,38,1) 50%, rgba(16,16,16,1) 100%);
}

.section-three-div.red{
    background: rgb(16,16,16);
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgba(255,31,31,1) 50%, rgba(16,16,16,1) 100%);
}

.section-three-div.pink{
    background: rgb(16,16,16);
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgba(255,47,153,1) 50%, rgba(16,16,16,1) 100%);
}

.section-three-div.white{
    background: rgb(16,16,16);
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgba(216,216,216,1) 50%, rgba(16,16,16,1) 100%);
}

.section-three-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section-three-content p{
    font-family: "Numans", sans-serif;
    font-size: 18px;
    max-width: 800px;
    text-align: center;
    margin: 30px 0 70px 0;
}

.blitz-e-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}

.emmersive{
    max-width: 600px;
}

.blitz-logo{
    max-width: 200px;
}

/* section-four */
.section-four{
    max-width: 1115px;
    width: 1115px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-four-div{
    width: 100%;
    height: 8px;
    margin: 8px 0;
    background: rgb(16,16,16);
    background: linear-gradient(90deg, rgba(16,16,16,1) 0%, rgba(1,253,71,1) 50%, rgba(16,16,16,1) 100%);
    
}

.container-text-shadow{
    display: flex;
    justify-content: center;
}

.conheca{
    font-size: 72px;
    text-shadow: #2210f4;

}

.atras{
    position: absolute;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: absolute;
    margin-top: 7px;

}

.frente{
    position: relative;
    
}

.fanboost{
    font-family: 'Michroma', sans-serif;
    font-size: 82px;
    color: rgba(1,253,71,1);
    font-weight: 200;
}

.attack-description{
    margin: 30px 0;
    display: flex;
    gap: 15px;
    margin: 60px 0;
}

.attack-description p{
    font-family: 'Numans', sans-serif;
    text-align: start;
    max-width: 500px;
    font-size: 18px;

}

.attack-description img{
    width: 150px;
}

/* section 5 */
.section-five{
    width: 100%;
    background-color: #2210f4;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.section-five-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 80px auto;
}

.about-container{
    display: grid;
    max-width: 1000px;
    overflow-x: hidden;
    overflow: auto;
    grid-template-columns: repeat(4, 296px);
    grid-template-rows: 386px;
    gap: 15px;
    padding: 0 0 30px 0;
}

.about-container::-webkit-scrollbar {
    height: 15px; /* Altura da barra de rolagem horizontal */
}

.about-container::-webkit-scrollbar-track {
    background: #ffffff; /* Fundo do trilho da barra */
    border-radius: 5px;
}

.about-container::-webkit-scrollbar-thumb {
    background-color: #101010; /* Cor da barra de rolagem */
    border-radius: 5px;
    min-height: 15px;
}


.mini-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(18,2,114);
    background: linear-gradient(180deg, rgba(18,2,114,1) 0%, rgba(25,23,36,1) 100%);
    border-radius: 15px;

}

.mini-container-text h1{
    text-align: center;
    font-family: 'Michroma', sans-serif;    
    font-weight: 400;
    font-size: 24px;
    margin: 30px 0;
}

.mini-container-text p{
    text-align: center;
    font-family: 'Numans', sans-serif;    
    font-weight: 400;
    font-size: 16px;
    line-break: normal;
    margin: 30px 0;
}

.mini-container-img img{
    width: 100%;
    height: 193px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

/* section 6 */
.section-six{
    margin: 80px auto;
    padding: 0 10px 80px 10px;
    border-bottom: 1px solid white;
}

.section-six-content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
    max-width: 1115px;
}

.section-six-content img{
    width: fit-content;
    height: fit-content;
}

.plataform-functions{
    font-family: 'Numans', sans-serif;
    font-size: 24px;
    width: 50%;
}

.plataform-functions ul{
    margin: auto 30px;
}

.plataform-functions li{
    margin: 15px;
}

.plataform-functions li img{
    margin: 0 0 0 10px;
}

.plataform-functions .continue{
    max-width: 200px;
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #2210f4;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 20px;
}

.plataform-functions .continue:hover{
    background-color: #ffffff;
    color: #2210f4;
    transition: 0.3s;
}

/* Section 7 */
.section-seven{
    max-width: 1115px;
    width: 1115px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.background-seven{
    position: relative;
}
.background-seven img{
    width: fit-content;
    height: fit-content;
}


.section-seven a{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    min-height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #2210f4;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.section-seven a:hover{
    background-color: #ffffff;
    color: #2210f4;
}

/* FOOTER */

footer{
    width: 100%;
    height: 80px;
    background-color: #2210F4;

}

.footer-content{
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-content h1{
    font-size: 18px;
}

.footer-logo{
    width: 150px;
    height: 70px;
}